In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('train.csv')

In [7]:
print(df.head())

  POSTED_BY  UNDER_CONSTRUCTION  ...   LATITUDE  TARGET(PRICE_IN_LACS)
0     Owner                   0  ...  77.597960                   55.0
1    Dealer                   0  ...  76.644605                   51.0
2     Owner                   0  ...  77.632191                   43.0
3     Owner                   0  ...  77.344500                   62.5
4    Dealer                   1  ...  88.484911                   60.5

[5 rows x 12 columns]

In [10]:
print(df.tail())

      POSTED_BY  UNDER_CONSTRUCTION  ...   LATITUDE  TARGET(PRICE_IN_LACS)
29446     Owner                   0  ...  78.043277                   45.0
29447     Owner                   0  ... -86.150721                   16.0
29448    Dealer                   0  ...  75.828002                   27.1
29449     Owner                   0  ...  80.227910                   67.0
29450    Dealer                   0  ...  75.841749                   27.8

[5 rows x 12 columns]

In [11]:
print(df.shape)

(29451, 12)

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB
None

In [14]:
df1 = pd.read_csv('train - rev.csv')

In [15]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29440 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB
None

In [20]:
price_data = df[['ADDRESS','LONGITUDE']]
print(price_data.head())

                       ADDRESS  LONGITUDE
0        Ksfc Layout,Bangalore  12.969910
1    Vishweshwara Nagar,Mysore  12.274538
2             Jigani,Bangalore  12.778033
3  Sector-1 Vaishali,Ghaziabad  28.642300
4             New Town,Kolkata  22.592200

In [22]:
df.loc[df['TARGET(PRICE_IN_LACS)'] < 45, 'PRICE_CATEGORY'] = 'Low'
print(df)

      POSTED_BY  UNDER_CONSTRUCTION  ...  TARGET(PRICE_IN_LACS)  PRICE_CATEGORY
0         Owner                   0  ...                   55.0             NaN
1        Dealer                   0  ...                   51.0             NaN
2         Owner                   0  ...                   43.0             Low
3         Owner                   0  ...                   62.5             NaN
4        Dealer                   1  ...                   60.5             NaN
...         ...                 ...  ...                    ...             ...
29446     Owner                   0  ...                   45.0             NaN
29447     Owner                   0  ...                   16.0             Low
29448    Dealer                   0  ...                   27.1             Low
29449     Owner                   0  ...                   67.0             NaN
29450    Dealer                   0  ...                   27.8             Low

[29451 rows x 13 columns]

In [23]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
 12  PRICE_CATEGORY         9572 non-null   object
dtypes: float64(4), int64(5), object(4)
memory usage: 2.9+ MB
None

In [27]:
print(df['TARGET(PRICE_IN_LACS)'])

0        55.0
1        51.0
2        43.0
3        62.5
4        60.5
         ...
29446    45.0
29447    16.0
29448    27.1
29449    67.0
29450    27.8
Name: TARGET(PRICE_IN_LACS), Length: 29451, dtype: float64